:root {
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    background-image: url('../src/images/snakee.jpg');
    background-size: cover;
}

.game-container {
    background-color: rgb(76, 76, 76);
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    outline-color: white;
    outline-style: solid;
}

.information-container {
    margin: 5px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
